.input {
  &__doc {
    display: none;
  }

  &__docMain {
    background-color: #eef2f8;
    border: none;
    padding: 2px 0px 2px 16px;
    border-radius: 6px;
    border: 1px solid #eef2f8;
    color: #979dac;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    font-family: $sub-font;
    cursor: pointer;

    & p {
      flex: 1;
    }

    & div {
      background-color: #006c67;
      border: none;
      padding: 1rem 2rem;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }
}
