.image {
  &__input {
    display: none;
  }

  &__inputbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__inputcontainer {
    border: 1px solid red;
    display: inline-block;
    width: 8.3rem;
    height: 8.3rem;
    background-color: #eef2f8;
    border: 1px solid #d2d7df;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    cursor: pointer;
  }

  &__text {
    color: #7c828c;
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin-top: 2rem;
  }
}
