/*
  0-640=sm
  640-768=md
  768-1024=lg
  1024-1280=xl
  1280-1536=2xl




  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,500&display=swap");
@import url("http://fonts.cdnfonts.com/css/clash-display");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 82.5%;
}
@media screen and (max-width: 1536px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-weight: 400;
}

a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

.react-tel-input {
  margin-top: 1rem;
  height: 4rem;
}

.form-control {
  width: calc(100% - 4rem) !important;
  height: 100% !important;
  border: 1px solid #eef2f8 !important;
  padding-left: 1rem !important;
  background-color: #eef2f8 !important;
  margin-left: 4rem !important;
}
@media screen and (max-width: 1536px) {
  .form-control {
    width: calc(100% - 6rem) !important;
    margin-left: 6rem !important;
  }
}
.form-control::placeholder {
  font-size: 1.4rem;
  font-weight: 300 !important;
  font-family: "Poppins", sans-serif;
  color: #979dac;
}

.flag-dropdown {
  margin-right: 2rem;
  background-color: #eef2f8 !important;
  border-radius: 6px !important;
}

.special-label {
  display: none !important;
}

.heading__main {
  color: #001233;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "Clash Display", sans-serif;
}

.text__main {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #33415c;
}

.button__dead {
  background-color: #d2d7df !important;
  margin-top: 5rem;
  width: 100%;
  justify-content: center !important;
  cursor: not-allowed !important;
}
.button__adv {
  margin-top: 5rem;
  width: 100%;
}
.button__logout {
  border: none;
  background-color: transparent;
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 5rem;
}
.button__main {
  text-transform: uppercase;
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  border: none;
  background-color: #fd6130;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  padding: 1.2rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}
.button__main:hover {
  background-color: #e66037;
}
.button__login {
  margin-top: 2rem;
}
.button__otp {
  width: 70%;
  margin-top: 5rem;
}

.recover {
  color: #fd6130;
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: all 0.3s;
  line-height: 1.7rem;
  margin: 5px 0;
  display: inline-block;
}
.recover:hover, .recover:active {
  color: #e66037;
}

.auth__link {
  text-transform: uppercase;
  color: #d90368;
  font-weight: 600;
  font-family: "Clash Display", sans-serif;
  margin-top: 4rem;
  font-size: 1.4rem;
  display: inline-block;
  text-align: center;
}

.input__main {
  background-color: #eef2f8;
  border: none;
  padding: 2px 16px;
  padding-left: 1rem;
  border-radius: 6px;
  border: 1px solid #eef2f8;
  padding-top: 2rem;
  color: #33415c;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 400;
}
.input__main:focus {
  outline: none;
}
.input__label {
  position: absolute;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #979dac;
  font-size: 1.4rem;
  transition: all 0.3s;
  inset: 0;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  cursor: text;
  font-weight: 300;
}
.input__container {
  position: relative;
  margin-top: 1rem;
}
.input__container .test {
  border: 1px;
}
.input__login {
  height: 4rem;
  width: 34rem;
}
@media screen and (max-width: 1280px) {
  .input__login {
    width: 100%;
  }
}
.input__password {
  cursor: pointer;
}
.input__passwordbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3%;
  display: flex;
  align-items: center;
}
.input__otpcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.input__otp {
  border-radius: 6px;
  padding: 1.3rem 1.6rem;
  background-color: #f5f5f5;
  border: 1px solid #d2d7df;
  width: 5.8rem !important;
  margin-right: 1rem;
  font-size: 1.4rem;
}
.input__otp:focus {
  outline: none;
}

.input__main:focus ~ .input__label {
  font-size: 1.2rem;
  inset: 0% 0% 50% 0%;
}

.input__main:not(:placeholder-shown) ~ .input__label {
  font-size: 1.2rem;
  inset: 0% 0% 50% 0%;
}

.overlay__main {
  position: fixed;
  background-color: rgba(51, 65, 92, 0.5);
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: end;
}
.overlay__close {
  margin-top: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.overlay__box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
@media screen and (max-width: 1024px) {
  .overlay__box {
    width: 100%;
  }
}
.overlay__box .image {
  height: 17.4rem;
  width: 17.4rem;
  margin-top: 8rem;
}
.overlay__box .heading {
  background-color: #fff;
  font-family: "Clash Display", sans-serif;
  color: #33415c;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 3rem;
}
.overlay__box .text {
  font-weight: 400;
  font-size: 1.4rem;
  color: #979dac;
  font-family: "Poppins", sans-serif;
  line-height: 1.9rem;
  width: 24.4rem;
  text-align: center;
  margin-top: 2rem;
}
.overlay__box .text span {
  color: #001233;
  font-weight: 500;
}

.otp__decline {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 17.1rem;
  color: #001233;
  margin-top: 3.5rem;
  font-weight: 400;
}
.otp__decline span {
  color: #d90368;
}

.image__input {
  display: none;
}
.image__inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image__inputcontainer {
  border: 1px solid red;
  display: inline-block;
  width: 8.3rem;
  height: 8.3rem;
  background-color: #eef2f8;
  border: 1px solid #d2d7df;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  cursor: pointer;
}
.image__text {
  color: #7c828c;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-top: 2rem;
}

.input__select {
  background-color: #f5f5f5 !important;
}

.input__doc {
  display: none;
}
.input__docMain {
  background-color: #eef2f8;
  border: none;
  padding: 2px 0px 2px 16px;
  border-radius: 6px;
  border: 1px solid #eef2f8;
  color: #979dac;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.input__docMain p {
  flex: 1;
}
.input__docMain div {
  background-color: #006c67;
  border: none;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}
.input__docMain div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input__date {
  width: 100% !important;
  background-color: #eef2f8;
  border: none !important;
  font-weight: 300;
  color: #979dac;
}
.input__date:hover {
  background-color: #f5f5f5 !important;
}
.input__setupdate {
  margin-bottom: 1rem;
}

.checkbox {
  display: none;
}

@media screen and (max-width: 1280px) {
  .checkbox-cont {
    width: 100%;
  }
}

.check-box {
  cursor: pointer;
  display: flex;
  border: 1px solid #979dac;
  padding: 1rem;
  border-radius: 1rem;
  width: 33rem;
  height: 10rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1280px) {
  .check-box {
    width: 100%;
  }
}

.checkmark {
  position: relative;
  height: 1rem;
  display: inline-block;
  width: 1rem;
  border: 2px solid #979dac;
  border-radius: 1rem;
}

.checkmark::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 1rem;
  opacity: 0;
  border: 4px solid #d90368;
  transition: opacity 0.3s;
}

.checkbox:checked + .check-box {
  border: 1px solid #d90368;
}

.checkbox:checked ~ .check-box .checkmark::after {
  opacity: 1;
}

.checkbox-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.checkbox-box p {
  color: #7c828c;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.checkbox-box h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #33415c;
}
.checkbox-box h2 {
  font-family: "Clash Display", sans-serif;
  color: #33415c;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.search__box {
  position: relative;
  display: inline-block;
}
.search__input {
  padding: 1rem 2rem;
  width: 34rem;
  border: 1px solid #d2d7df;
  border-radius: 6px;
  color: #979dac;
}
@media screen and (max-width: 640px) {
  .search__input {
    width: 100%;
  }
}
.search__input:focus {
  outline: none;
}
.search__input::placeholder {
  color: #979dac;
  text-transform: capitalize;
}
.search__icon {
  position: absolute;
  right: 3%;
  top: 25%;
  cursor: pointer;
}

.modal__close {
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
  border-radius: 100%;
}
.modal__close:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.modal__container {
  position: fixed;
  background-color: rgba(51, 65, 92, 0.5);
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__contentbox {
  position: relative;
  background-color: #fffbf8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2rem;
}
@media screen and (max-width: 640px) {
  .modal__contentbox {
    width: 90%;
  }
}
.modal__contentbox .div__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__contentbox .div__intro h2 {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #33415c;
}
.modal__contentbox .upload__image {
  width: 17.4rem;
  height: 17.4rem;
  margin: 2rem 0;
}
.modal__contentbox .asset__card {
  display: flex;
  padding: 1.5rem 0;
  width: 34rem;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  transition: all 0.3s;
  align-items: center;
  border-bottom: 1px solid #eef2f8;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .modal__contentbox .asset__card {
    width: 100%;
  }
}
.modal__contentbox .asset__card:hover {
  border-bottom: 1px solid #fd6130;
}
.modal__contentbox .asset__card div:first-child {
  display: flex;
  align-items: center;
}
.modal__contentbox .asset__card div:first-child div {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal__contentbox .asset__card div:first-child div h2 {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  color: #33415c;
}
.modal__contentbox .asset__card div:first-child div p {
  color: #979dac;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Poppins", sans-serif;
}
.modal__contentbox .asset__container {
  padding: 0 3rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0 1rem;
}
@media screen and (max-width: 1280px) {
  .login__form {
    width: 80%;
  }
}
.login__container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.login__box {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .login__box--2 {
    width: 0%;
  }
}
@media screen and (max-width: 1024px) {
  .login__box--1 {
    width: 100%;
  }
}
.login__box--1 .sect-1 {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login__box--1 .sect-2 {
  height: 30vh;
}
.login__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login__footerImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.login__header {
  font-family: "Clash Display", sans-serif;
  color: #33415c;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-top: 1.5rem;
}
.login__sub {
  color: #979dac;
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: 400;
}

.login__container .react-tel-input {
  margin-top: 1rem;
  height: 4rem;
}
.login__container .form-control {
  width: calc(100% - 4rem) !important;
  height: 100% !important;
  border: 1px solid #eef2f8 !important;
  padding-left: 1rem !important;
  background-color: #eef2f8 !important;
  margin-left: 4rem !important;
}
@media screen and (max-width: 1536px) {
  .login__container .form-control {
    width: calc(100% - 6rem) !important;
    margin-left: 6rem !important;
  }
}
.login__container .form-control::placeholder {
  font-size: 1.4rem;
  font-weight: 300 !important;
  font-family: "Poppins", sans-serif;
  color: #979dac;
}
.login__container .flag-dropdown {
  margin-right: 2rem;
  background-color: #eef2f8 !important;
  border-radius: 6px !important;
}
.login__container .special-label {
  display: none !important;
}

.success__link {
  text-transform: uppercase;
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
  color: #fd6130;
  font-size: 1.4rem;
  line-height: 2rem;
}
.success__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.success__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.success__container .logo {
  margin-top: 6rem;
}
.success__container .heading__main {
  margin-top: 4rem;
}
.success__container .text__main {
  margin-top: 1rem;
  width: 25rem;
  text-align: center;
}
.success__container .btn {
  width: 31rem;
  margin-top: 4rem;
}
.success__container .success__link {
  margin-top: 4rem;
}

.success__link {
  transition: ease-out 0.3s;
}
.success__link:hover {
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.onboarding__container {
  height: 100vh;
  background-color: #33415c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow-y: auto;
}
.onboarding__icon {
  color: #fd6130;
}
.onboarding__link {
  color: #fd6130;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 3rem;
}
.onboarding__info {
  padding: 1rem;
  justify-content: left;
  font-family: "Poppins", sans-serif;
}
.onboarding__intro {
  width: 31rem;
}
@media screen and (max-width: 380px) {
  .onboarding__intro {
    width: 100%;
  }
}
.onboarding__image {
  width: 38rem;
  height: 38rem;
  margin-top: 4rem;
}
@media screen and (max-width: 640px) {
  .onboarding__image {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .onboarding__image {
    height: 20rem;
  }
}
.onboarding__box {
  background-color: #fffbf8;
  padding: 2rem 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.onboarding__box progress[value] {
  width: 100%;
  height: 5px;
  margin-top: 1rem;
  -webkit-appearance: none;
  appearance: none;
}
.onboarding__box progress[value]::-webkit-progress-bar {
  background-color: #d2d7df;
  border-radius: 7px;
}
.onboarding__box progress[value]::-webkit-progress-value {
  background-color: #fd6130;
  border-radius: 7px;
}
.onboarding__box--1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.onboarding__box--1 svg {
  cursor: pointer;
}
.onboarding__box--1 p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #33415c;
  font-family: "Clash Display", sans-serif;
}

.setup__height {
  height: 100vh !important;
}
.setup__successbox {
  background-color: #fffbf8;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  align-items: center;
  border-radius: 3rem;
}
@media screen and (max-width: 380px) {
  .setup__successbox {
    width: 90%;
  }
}
.setup__successbox image,
.setup__successbox p,
.setup__successbox h2 {
  margin-top: 2rem;
}
.setup__successbox h2 {
  text-align: center;
}
.setup__successbox p {
  width: 28.6rem;
}
@media screen and (max-width: 380px) {
  .setup__successbox p {
    width: 90%;
  }
}
.setup__successbox .btn {
  width: 30rem;
  margin-top: 4rem;
}
@media screen and (max-width: 380px) {
  .setup__successbox .btn {
    width: 90%;
  }
}
.setup__cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}
@media screen and (max-width: 1280px) {
  .setup__cont {
    padding: 0 10px;
    width: 85% !important;
  }
}
.setup__intro {
  color: #d90368;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.8rem;
}
.setup__box {
  margin-top: 2rem;
}
@media screen and (max-width: 1280px) {
  .setup__box {
    width: 100% !important;
  }
}
.setup__btn {
  width: 100%;
  margin-top: 8rem;
}
.setup__btn--payment {
  margin-top: 3rem;
}
.setup__paymentimage {
  height: 17.4rem;
  width: 17.4rem;
  margin-top: 3rem;
}
.setup__paymentlaterlink {
  margin-top: 2rem;
}

.input__setup {
  width: 34rem;
}
@media screen and (max-width: 1280px) {
  .input__setup {
    width: 100%;
  }
}
.input__margin {
  margin-top: 1rem;
}

.home__container {
  overflow-y: scroll;
  height: 100vh;
}
.home__assetbox {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eef2f8;
  padding: 2rem 0;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1536px) {
  .home__assetbox {
    width: 36rem;
  }
}
@media screen and (max-width: 1280px) {
  .home__assetbox {
    width: 100%;
  }
}
.home__assetbox .asset__info {
  color: #979dac;
  font-size: 1.2rem;
  font-weight: 400;
}
.home__assetbox .asset__info--sub {
  color: #33415c;
  font-size: 1.6rem;
  font-weight: 500;
}
.home__assetcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__assetcontainer div {
  margin-left: 1rem;
}
.home__assetcontainer div h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #33415c;
  font-family: "Clash Display", sans-serif;
}
.home__assetcontainer div p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #979dac;
}
.home__chartdets {
  flex: 1;
  padding: 0 15rem;
}
@media screen and (max-width: 1280px) {
  .home__chartdets {
    padding: 0 2rem;
  }
}
.home__searchcontainer {
  border-bottom: 1px solid #d2d7df;
  padding: 2rem;
}
.home__assetContain {
  display: flex;
  margin-top: 10rem;
  overflow-y: scroll;
}
@media screen and (max-width: 640px) {
  .home__assetContain {
    flex-direction: column;
    flex: 1;
    width: 100%;
    margin-top: 4rem;
  }
}
.home__assetContain h2 {
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #979dac;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.home__assetChartbox {
  width: 30%;
}
@media screen and (max-width: 1536px) {
  .home__assetChartbox {
    width: 35rem;
  }
}
@media screen and (max-width: 1280px) {
  .home__assetChartbox {
    width: 30rem;
  }
}
@media screen and (max-width: 1024px) {
  .home__assetChartbox {
    width: 25rem;
  }
}
@media screen and (max-width: 640px) {
  .home__assetChartbox {
    width: 100%;
  }
}
.home__maincontent {
  height: 100vh;
}
.home__main {
  padding: 2rem;
  height: 100%;
}
.home__main--introbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__main--introbox button {
  margin-top: 0 !important;
}
.home__main .heading {
  text-transform: capitalize;
  color: #33415c;
  font-weight: 600;
  font-family: "Clash Display", sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.home__main .text {
  color: #7c828c;
}
.home__contentcontainer {
  height: 100% !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home__contentcontainer .image {
  width: 15.8rem;
  height: 21.6rem;
}
.home__contentcontainer .text {
  font-weight: 500 !important;
  color: #33415c !important;
  margin-top: 3rem;
}
.home__contentcontainer .btn {
  margin-top: 3rem;
  width: 34rem;
}
@media screen and (max-width: 640px) {
  .home__contentcontainer .btn {
    width: 100%;
  }
}
.home__contentcontainer .link {
  margin-top: 3rem;
}
.home__navcontainer {
  position: fixed;
  height: 100vh;
  overflow: scroll;
  width: 26rem;
  border: 0px 1px 0px 0px;
  background-image: linear-gradient(#ffffff, #fff0fb);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media screen and (max-width: 768px) {
  .home__navcontainer {
    position: absolute;
    left: -26rem;
  }
}
.home__navcontainer .logo__link {
  display: inline-block;
  margin-top: 3rem;
}
.home__maincontent {
  margin-left: 26rem;
  width: 100%;
  width: calc(100% - 26rem);
}
@media screen and (max-width: 768px) {
  .home__maincontent {
    margin-left: 0rem;
    width: 100%;
  }
}

.nav__mobilehandler {
  display: none;
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nav__mobilehandler {
    display: block;
  }
}
.nav__container {
  padding-left: 3rem;
  margin-top: 4rem;
}
.nav__header {
  color: #979dac;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  margin-left: 2rem;
}
.nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #979dac;
  font-family: "Clash Display", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 4px 0px 0px 4px;
  padding: 1rem 1.5rem;
  transition: all 0.3s;
  margin-top: 1rem;
}
.nav__link:hover {
  background-color: #fff0fb;
}
.nav__link svg {
  margin-right: 1rem;
}
.nav__link--active {
  color: #fd6130;
  background-color: #fff0fb;
}

.navisactive {
  left: 0;
  z-index: 10;
}

.vault__container {
  padding: 2rem;
  padding-left: 15rem;
  padding-right: 8rem;
  height: 100vh;
  overflow: auto;
}
@media screen and (max-width: 1280px) {
  .vault__container {
    padding-left: 8rem;
  }
}
@media screen and (max-width: 1024px) {
  .vault__container {
    padding: 2rem;
  }
}
.vault__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .vault__nav {
    width: 100vw;
    overflow: auto;
  }
}
.vault__button {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  background-color: transparent;
  padding-bottom: 3px;
  border: none;
  cursor: pointer;
  color: #979dac;
}
@media screen and (max-width: 640px) {
  .vault__button {
    margin: 0 1rem;
  }
}
.vault__button:hover {
  border-bottom: 1.4px solid #ccc;
}
.vault__button--active {
  border-bottom: 1.4px solid #084887;
  color: #084887;
}
.vault__card {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eef2f8;
}
.vault__card .image {
  margin-right: 1rem;
}
.vault__card h3 {
  font-weight: 500;
  color: #33415c;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 2.1rem;
  font-family: "Poppins", sans-serif;
}
.vault__card p {
  color: #979dac;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Poppins", sans-serif;
}
.vault__main {
  margin-top: 3rem;
}

.settings__linkbox {
  margin-top: 5rem;
}
.settings__input {
  width: 100%;
}
.settings__form {
  width: 80%;
  margin-top: 2rem;
}
.settings__form .intro {
  color: #979dac;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Clash Display", sans-serif;
}
@media screen and (max-width: 1280px) {
  .settings__form {
    width: 90%;
  }
}
.settings__linkcard {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  border-bottom: 1px solid #eef2f8;
  cursor: pointer;
  transition: all 0.3s;
}
.settings__linkcard:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.settings__linkcard--active {
  color: #d90368 !important;
}
.settings__linkcard p {
  color: #33415c;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.1rem;
  font-family: "Poppins", sans-serif;
}
.settings__container {
  padding: 2rem;
  display: flex;
  height: 80%;
}
@media screen and (max-width: 768px) {
  .settings__container {
    padding-left: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .settings__container {
    flex-direction: column;
  }
}
.settings__box {
  width: 50%;
  padding: 5rem 2rem;
  border-right: 1px solid #d2d7df;
}
@media screen and (max-width: 1280px) {
  .settings__box {
    padding: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .settings__box {
    padding: 0;
  }
}
@media screen and (max-width: 1024px) {
  .settings__box {
    width: 100%;
    border: none;
  }
}
.settings__box--1 {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eef2f8;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
}
.settings__box--1:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.settings__box--1 div:first-child {
  display: flex;
  align-items: center;
}
.settings__box--1 .image {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  border: 1px solid #ccc;
  margin-right: 1rem;
}
.settings__box--1 h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #33415c;
}
.settings__box--1 p {
  color: #979dac;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.settings__box--2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
@media screen and (max-width: 1024px) {
  .settings__box--2 {
    padding: 0;
  }
}
@media screen and (max-width: 1024px) {
  .settings__box--2 {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem 0;
  }
}
.settings__box--2 h3 {
  color: #33415c;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/*# sourceMappingURL=globals.css.map */
